:root {
    --primary: #1976d2;
    --light: #FFFFFF;
    --dark: #191C24;
    --bg-primary: #1976d2;
    --white: #fff
}
.custom-dialog{
    border-top: 8px solid var(--primary);
}
.title-contain{
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
}
.title-contain .cancel-icon{
    cursor: pointer;
    font-size: 30px;
}

.title-contain i {
    margin-right: 12px;
}