.spinner-contain {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--surface-100);
}

.d-none {
    display: none;
}